# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables & Sensitive files
.env
.txt
*.key
*.pem

# Local databases
*.db
*.sqlite
*.sqlite3

# IDE and OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
